<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


</head>

<body>
  <title>Weekly Subject Schedule</title>
  <h1>{{title}}</h1>
  <h3>{{course}}</h3>

    <h1 class="weekly">Weekly Subject Schedule</h1>
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Subjects & Time</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Sunday</td>
                <td></td>
            </tr>
            <tr>
                <td>Monday</td>
                <td>
                    Project Management 9:00 AM - 10:00 AM<br>

                </td>
            </tr>
            <tr>
                <td>Tuesday</td>
                <td>
                    DSLAGO: 8:00 AM - 9:00 AM<br>

                    IMDBSE1: 11:00 AM - 2:00 PM
                </td>
            </tr>
            <tr>
                <td>Wednesday</td>
                <td>
                    ITMGNT1: 9:00 AM - 10:00 AM<br>
                    APPDEV1: 10:30 AM - 11:30 AM
                </td>
            </tr>
            <tr>
                <td>Thursday</td>
                <td>
                    DSALO: 8:00 AM - 9:00 AM<br><br>
                    DSALO: 11:00 AM - 2:00 PM<br>

                </td>
            </tr>
            <tr>
                <td>Friday</td>
                <td>
                    ITMGNT1: 9:00 AM - 10:00 AM<br>
                    APPDEV1: 11:00 AM - 2:00 PM<br>
                    GELECT3: 3:00 PM - 4:00 PM
                </td>
            </tr>
            <tr>
                <td>Saturday</td>
                <td></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
